<h1>  Create a new herb </h1>

<%#  %>

<%= form_with model: @herb, local: true do |form| %>

<%= form.label :name %>
<br />
<%= form.text_field :name %>
<br />
<br />

<%= form.radio_button :is_watered, 'yes' %>
<%= form.label :is_watered, 'Herb is watered' %>
<br />
<%= form.radio_button :is_watered, 'no' %>
<%= form.label :is_watered, 'Herb is NOT watered' %>
<br />
<br />
<%= form.submit 'Add Herb' %>

<% end %>

<%= link_to 'Back to all herbs', herbs_path %>